 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Price Calculator</title>
    <link href="/app/modules/angular-material/1.1.5/angular-material.min.css" type="text/css" rel="stylesheet">
    <link href="/app/css/stylesheet.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <!-- https://github.com/a8m/angular-filter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.js"></script>
    <script src="/app/modules/angular-material/1.1.5/angular-material.min.js"></script>
    <!-- Modules -->
    <script src="/app/app.js"></script>
    <!-- Controllers -->
    <script src="/app/controllers/main-ctrl.js"></script>
    <!-- Directives -->
    <!-- <script src="/app/directives/project-info.js"></script> -->
  </head>
  <body ng-app="priceCalc" ng-cloak>
    <div ng-controller='mainCtrl'>
      <div class="mainContainer">
        <form name="setupForm" action="/compare.html" method="get">
          <md-content class="newProject" md-theme="docs-dark" layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container>
                <label>New Project</label>
                <input name="name" ng-model="project.name">
              </md-input-container>
        
              <md-select name="type" ng-model="project.type" placeholder="Type" class="md-no-underline">
                <md-option value="Full-Stack">Full-Stack</md-option>
                <md-option value="Angular">Angular</md-option>
                <md-option value="PHP">PHP</md-option>
                <md-option value="Other">Other</md-option>
              </md-select>
            </div>
          </md-content>
          <div class="setupContainer">
            <div class="projectInfo">
                <h1 ng-bind="project.name"></h1>
                <h2 ng-bind="project.type"></h2>
            </div>
            <p class="priceSetupContainer">Base Price per Month: 
              <md-input-container>
                <label>USD($)</label>
                <input name="basePrice" type="number" ng-model="basePrice">
              </md-input-container>
            </p>
            <p class="interestSetupContainer">Interest Rate Accrued per Month
              <md-input-container>
                <label>%</label>
                <input name="interest" type="number" step="0.01" ng-model="interest">
              </md-input-container>
            </p>
            <p class="monthSetupContainer">This project needs to be done in 
                <md-input-container>
                    <label>Months</label>
                    <input name="months" type="number" ng-model="months" ng-change="comparePopUp()" required>
                </md-input-container>
            </p>
          </div>
          <div class="setupSummaryContainer">
            <h3>This project will cost {{ setupCalcTotal() | currency }}</h3>
            <p class="comparePopUp"><md-button type="submit" ng-click="compareClick()"><em>Compare this price with other timeframes</em></md-button></p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
